body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("https://img.freepik.com/vector-gratis/gradiente-formas-geometricas-sobre-fondo-oscuro_23-2148434188.jpg?w=1480&t=st=1721542323~exp=1721542923~hmac=cf440bfcfcd7eeef754f5c42ea0fa538fe62b9f1e1cf72f56b78d9e369517d41");
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .logo img {
    width: 150px;
}

header h1 {
    margin: 10px 0 0;
    font-size: 2.5em;
}

main {
    padding: 20px;
}

.section-padding {
    padding: 60px 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h2 {
    color: #007BFF;
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5em;
}

.card {
    background-color: blueviolet;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h3 {
    color: springgreen;
    font-size: 1.75em;
    margin-bottom: 10px;
}

.card ul {
    list-style-type: none;
    padding: 0;
}

.card ul li {
    margin-bottom: 10px;
}

footer {
    background: #333;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

footer .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer .footer-logo img {
    width: 100px;
}

footer .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .social-media a {
    color: #fff;
    margin: 0 10px;
    font-size: 1.5em;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
}

footer .social-media a:hover {
    color: #007BFF;
    transform: scale(1.2);
}

footer .footer-text {
    margin: 20px 0 0;
}

@media (max-width: 768px) {
    footer .footer-container {
        flex-direction: column;
        text-align: center;
    }
}
